#messages > .alert {
    background: #ffffff;
    color: #777;
}

#messages > div:first-of-type {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.message{
    margin: 10px 0px 30px 0px;
}

.message > .lead{
    margin-bottom: 0px;
    position: relative;
    top: -13px;
}

.details {
    position: relative;
    top: -28px;
    left: -14px;
}

.details > .small {
    font-size: 85%;
}

#motd{
    width: 574px;
}