#messages > .alert {
    background: #ffffff;
    color: #777;
}

#messages > div:first-of-type {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.message{
    margin-bottom: 5px;
}

#motd{
    width: 574px;
}